/dts-v1/;
{% import 'boardset.macro' as m  %}

/plugin/;

/ {
	{%- if boards|length >=1 %}
	fragment@0 {
		{{- m.boardset1(0, boards[0]) }}
	};
	{%- endif %}

	{%- if boards|length>=2 %}
	fragment@2 {
		{{- m.boardset1(1, boards[1]) }}
	};
	{%- endif %}

	{%- if boards|length>=3 %}
	fragment@4 {
		{{- m.boardset1(2, boards[2]) }}
	};
	{%- endif %}
};
