{% macro iogroup1(slot, board) %}
ACTION=="add|remove", SUBSYSTEM=="iogroup", DEVPATH=="*/iogroup{{slot}}",  RUN+="/opt/unipi/tools/uhelper '' iogroup{{slot}} {{slot}} $name"
ACTION=="add|remove", SUBSYSTEM=="unipi_gpio", DEVPATH=="*/iogroup{{slot}}/*",  RUN+="/opt/unipi/tools/uhelper '' $name {{slot}} $name"
ACTION=="add|remove", SUBSYSTEM=="iio", DEVPATH=="*/iogroup{{slot}}/*",  RUN+="/opt/unipi/tools/uhelper '' $name {{slot}} $name"
{%- endmacro %}

{%- if boards|length >=1 %}
{{- iogroup1(1, boards[0]) }}
ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*/tty/ttyNS*", RUN+="/opt/unipi/tools/uhelper '' rs485.1.1 1 $name"
{%- endif %}

{%- if boards|length>=2 %}
{{- iogroup1(2, boards[1]) }}
{%- endif %}

{%- if boards|length>=3 %}
{{- iogroup1(3, boards[2]) }}
{%- endif %}
