
# Section Quectel EG912

ACTION=="remove", GOTO="lte_end"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="6002", ENV{USB_HUB_TYPE}="2c7c:6002"

ENV{USB_HUB_TYPE}=="2c7c:6002", SUBSYSTEM=="tty", KERNELS=="1-1:1.3", SYMLINK+="ttyLTE_MNG"
ENV{USB_HUB_TYPE}=="2c7c:6002", SUBSYSTEM=="tty", KERNELS=="1-1:1.4", SYMLINK+="ttyLTE_AT1"

SUBSYSTEM=="net", ACTION=="add", ENV{USB_HUB_TYPE}=="2c7c:6002", NAME="wwan0"

LABEL="lte_end"
