

/dts-v1/;
/plugin/;
/ {
	compatible = "unipi,zulu";

	fragment@0 {
		target = <&ecspi3>;
		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;unipispi0: unipispi@0 {
				compatible = "unipi,unipi-spi";
				reg = <0>;
				spi-max-frequency = <12000000>;
				status = "okay";
				modbus-address = <1>;
				#address-cells = <1>;
				#size-cells = <0>;
				iogroup1: iogroup1 {
					reg = <1>;
					compatible = "unipi,unipi-mfd", "iogroup";
					fw_variant = <0x0110>;
					fw_name = "E_8Di8Ro-1";
					board_name = "E_8Di8Ro";
					sys_board_name = "E_8Di8Ro";
					cycle_counter = <1023>;
					master_watchdog_enable = <2>;

					di {
						compatible = "unipi,gpio-di";
						gpio-controller;
						#gpio-cells = <2>;
						gpio-line-names = "DI1_1","DI1_2","DI1_3","DI1_4","DI1_5","DI1_6","DI1_7","DI1_8";
						ngpio = <8>;
						value-reg = <0>;
						debounce-reg = <1010>;
						counter-reg = <3>;
					};
					do {
						compatible = "unipi,gpio-ro";
						ngpio = <8>;
						value-coil = <0>;
						gpio-controller;
						#gpio-cells = <2>;
						gpio-line-names = "RO1_1","RO1_2","RO1_3","RO1_4","RO1_5","RO1_6","RO1_7","RO1_8";
					};
					sysleds0:sysled {
						compatible = "unipi,leds";
						coil-range = <16 6>;
						#address-cells = <1>;
						#size-cells = <0>;
						label-prefix = "unipi:green:sysled-x";
					};
				};
			};
		
		};
	};

	fragment@1 {
		target = <&usbotg1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			usbslot1: usbslot1@1 {
				reg = <1>;
			};
		};
	};

	
	fragment@10 {
		target = <&uart1>;
		__overlay__ {
			status = "okay";
			linux,rs485-enabled-at-boot-time;
		};
	};
	fragment@13 {
		target-path = "/";
		__overlay__ {
			reg_w1bus: regulator-w1bus {
				compatible = "regulator-fixed";
				regulator-name = "w1-vcc";
				enable-active-high;
				gpios = <&gpio5 21 0>;
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				startup-delay-us = <100000>; /* experimentally determined */
			};
		};
	};
	fragment@14 {
		target = <&i2c3>;
		__overlay__ {
			w1master:w1master@18 {
				compatible = "maxim,ds2482";
				reg = <0x18>;
				status = "okay";
				vcc-supply = <&reg_w1bus>;
			};
		};
	};

};


&iogroup1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_slotirq0>; 
	interrupt-parent = <&gpio4>;
	interrupts = <23 1>; /* EDGE RISING*/
};







&sysleds0 {
	rs485-1-txled@4 {
		reg = <4>;
		linux,default-trigger = "ttymxc0-tx";
	};
	rs485-1-rxled@5 {
		reg = <5>;
		linux,default-trigger = "ttymxc0-rx";
	};
};
