
ACTION=="add|remove", SUBSYSTEM=="iogroup", DEVPATH=="*/iogroup1",  RUN+="/usr/lib/unipi/uhelper '' iogroup1 1 $name"
ACTION=="add|remove", SUBSYSTEM=="unipi_gpio", DEVPATH=="*/iogroup1/*",  RUN+="/usr/lib/unipi/uhelper '' $name 1 $name"
ACTION=="add|remove", SUBSYSTEM=="iio", DEVPATH=="*/iogroup1/*",  RUN+="/usr/lib/unipi/uhelper '' $name 1 $name"

ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*iogroup1:led/leds/unipi:green:uled-x1",  RUN+="/usr/lib/unipi/uhelper '' ULED1.1 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*iogroup1:led/leds/unipi:green:uled-x2",  RUN+="/usr/lib/unipi/uhelper '' ULED1.2 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*iogroup1:led/leds/unipi:green:uled-x3",  RUN+="/usr/lib/unipi/uhelper '' ULED1.3 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*iogroup1:led/leds/unipi:green:uled-x4",  RUN+="/usr/lib/unipi/uhelper '' ULED1.4 1 $name"
ACTION=="add|remove", SUBSYSTEM=="w1", DEVPATH=="/devices/w1_bus_master1",  RUN+="/usr/lib/unipi/uhelper '' w1 1 $name"
ACTION=="add|remove", SUBSYSTEM=="iogroup", DEVPATH=="*/iogroup2",  RUN+="/usr/lib/unipi/uhelper '' iogroup2 2 $name"
ACTION=="add|remove", SUBSYSTEM=="unipi_gpio", DEVPATH=="*/iogroup2/*",  RUN+="/usr/lib/unipi/uhelper '' $name 2 $name"
ACTION=="add|remove", SUBSYSTEM=="iio", DEVPATH=="*/iogroup2/*",  RUN+="/usr/lib/unipi/uhelper '' $name 2 $name"
ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*/tty/ttyNS0", RUN+="/usr/lib/unipi/uhelper  rs485-1 tty 1 $name"
ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*/tty/ttymxc1", RUN+="/usr/lib/unipi/uhelper rs232-2 tty 1 $name"
ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*/tty/ttymxc0", RUN+="/usr/lib/unipi/uhelper rs485-3 tty 1 $name"

ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/leds/rs232-2-txled",  RUN+="/usr/lib/unipi/uhelper rs232-2 led.tx 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/leds/rs232-2-rxled",  RUN+="/usr/lib/unipi/uhelper rs232-2 led.rx 1 $name"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/rs232-2-txled", RUN+="/bin/sh -ec 'echo tty > /sys$${DEVPATH}/trigger; echo ttymxc1 > /sys/$${DEVPATH}/ttyname && echo 0 > /sys/$${DEVPATH}/rx || exit 0'"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/rs232-2-rxled", RUN+="/bin/sh -ec 'echo tty > /sys$${DEVPATH}/trigger; echo ttymxc1 > /sys/$${DEVPATH}/ttyname && echo 0 > /sys/$${DEVPATH}/tx || exit 0'"

ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/leds/rs485-3-txled",  RUN+="/usr/lib/unipi/uhelper rs485-3 led.tx 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/leds/rs485-3-rxled",  RUN+="/usr/lib/unipi/uhelper rs485-3 led.rx 1 $name"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/rs485-3-txled", RUN+="/bin/sh -ec 'echo tty > /sys$${DEVPATH}/trigger; echo ttymxc0 > /sys/$${DEVPATH}/ttyname && echo 0 > /sys/$${DEVPATH}/rx || exit 0'"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/rs485-3-rxled", RUN+="/bin/sh -ec 'echo tty > /sys$${DEVPATH}/trigger; echo ttymxc0 > /sys/$${DEVPATH}/ttyname && echo 0 > /sys/$${DEVPATH}/tx || exit 0'"
