
ACTION=="add|remove", SUBSYSTEM=="iogroup", DEVPATH=="*/iogroup1",  RUN+="/usr/lib/unipi/uhelper '' iogroup1 1 $name"
ACTION=="add|remove", SUBSYSTEM=="unipi_gpio", DEVPATH=="*/iogroup1/*",  RUN+="/usr/lib/unipi/uhelper '' $name 1 $name"
ACTION=="add|remove", SUBSYSTEM=="iio", DEVPATH=="*/iogroup1/*",  RUN+="/usr/lib/unipi/uhelper '' $name 1 $name"
ACTION=="add|remove", SUBSYSTEM=="w1", DEVPATH=="/devices/w1_bus_master1",  RUN+="/usr/lib/unipi/uhelper '' w1 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*iogroup1:led/leds/unipi:green:uled-x1",  RUN+="/usr/lib/unipi/uhelper '' ULED1.1 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*iogroup1:led/leds/unipi:green:uled-x2",  RUN+="/usr/lib/unipi/uhelper '' ULED1.2 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*iogroup1:led/leds/unipi:green:uled-x3",  RUN+="/usr/lib/unipi/uhelper '' ULED1.3 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*iogroup1:led/leds/unipi:green:uled-x4",  RUN+="/usr/lib/unipi/uhelper '' ULED1.4 1 $name"
ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*/tty/ttyNS0", RUN+="/usr/lib/unipi/uhelper  rs485-1 tty 1 $name"
ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*/tty/ttymxc0", RUN+="/usr/lib/unipi/uhelper rs485-2 tty 1 $name"

ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/leds/rs485-2-txled",  RUN+="/usr/lib/unipi/uhelper rs485-2 led.tx 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/leds/rs485-2-rxled",  RUN+="/usr/lib/unipi/uhelper rs485-2 led.rx 1 $name"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/rs485-2-txled", RUN+="/bin/sh -ec 'echo tty > /sys$${DEVPATH}/trigger; echo ttymxc0 > /sys/$${DEVPATH}/ttyname && echo 0 > /sys/$${DEVPATH}/rx || exit 0'"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/rs485-2-rxled", RUN+="/bin/sh -ec 'echo tty > /sys$${DEVPATH}/trigger; echo ttymxc0 > /sys/$${DEVPATH}/ttyname && echo 0 > /sys/$${DEVPATH}/tx || exit 0'"

#::: ENV{_LTE_}="<lte>"
ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*ci_hdrc.0/usb1/1-1/1-1:1.2/tty*",  RUN+="/usr/lib/unipi/uhelper lte.1 tty_mng 1 $name"
ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*ci_hdrc.0/usb1/1-1/1-1:1.7/tty*",  RUN+="/usr/lib/unipi/uhelper lte.1 tty_at1 1 $name"
ACTION=="add|remove", SUBSYSTEM=="net", DEVPATH=="*ci_hdrc.0/usb1/1-1/1-1:1.0/net/*", RUN+="/usr/lib/unipi/uhelper lte.1 net  1 $name", NAME="wwan0"

ACTION=="add|remove", SUBSYSTEM=="rfkill", DEVPATH=="/devices/platform/lte_kill1/rfkill/rfkill0", RUN+="/usr/lib/unipi/uhelper lte.1 rfkill  1 $name"

ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*iogroup1:sysled/leds/lte-sim",  RUN+="/usr/lib/unipi/uhelper lte.1 led.sim 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*iogroup1:sysled/leds/lte-net",  RUN+="/usr/lib/unipi/uhelper lte.1 led.net 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*iogroup1:sysled/leds/lte-sig",  RUN+="/usr/lib/unipi/uhelper lte.1 led.sig 1 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*iogroup1:sysled/leds/lte-int",  RUN+="/usr/lib/unipi/uhelper lte.1 led.int 1 $name"


