Source: unipi-os-configurator-data
Section: unknown
Priority: optional
Maintainer: Miroslav Ondra <ondra@unipi.technology>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8.0
Homepage: https://www.unipi.technology/
Vcs-Git: https://github.com/UnipiTechnology/os-configurator-data-patron.git
Vcs-Browser: https://github.com/UnipiTechnology/os-configurator-data-patron

Package: unipi-os-configurator-data
Architecture: any
Description: Unipi Patron specific data for Unipi OS configurator
Depends: unipi-os-configurator
