
ACTION=="add|remove", SUBSYSTEM=="block", DEVPATH=="*/30800000.bus/30b60000.mmc/mmc_host/mmc2/mmc2:0001/block/mmcblk2/mmcblk2boot1",  RUN+="/usr/lib/unipi/uhelper '' nvmem 1 $name"
ACTION=="add|remove", SUBSYSTEM=="block", DEVPATH=="*/30800000.bus/30b60000.mmc/mmc_host/mmc2/mmc2:0001/block/mmcblk2/mmcblk2gp0",  RUN+="/usr/lib/unipi/uhelper '' gpp 1 $name"
